@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// Case card

.case-study-card {
    @include flex;
    border-radius: 0.75rem;
    margin-bottom: 4rem;
    gap: 3rem;

    @media (max-width: $breakpoint-md) {
        @include flex-col;
        gap: 0;
    }

    &:hover {
        background: linear-gradient(180deg, $lime-green 0%, transparent 100%);
        outline: 2px $light-green solid;

        h3 {
            text-decoration: underline;
        }

        .button {
            background-color: $green;
            color: $lime-green;
        }
    }

    &:focus {
        h3 {
            text-decoration: underline;
        }

        .button {
            background-color: $green;
            color: $lime-green;
        }
    }
}

.case-study-thumbnail {
    border-radius: 0.75rem;
    min-width: 58%;
    @include flex;
    @include flex-center;

    img {
        height: auto;
        width: 100%;
        border-radius: 0.75rem;
        object-fit: cover;
    }
}

.case-study-content {
    @include flex;
    @include flex-col;
    padding: 2rem 3rem;
    padding-left: 0;
    min-width: calc(42% - 3rem);

    @media (max-width: $breakpoint-md) {
        padding: 2rem;
        padding-top: 3rem;
    }

    @media (max-width: $breakpoint-sm) {
        padding: 1rem;
        padding-top: 2rem;
    }

    &--detail {
        flex-grow: 1;
    }

    &--title {
        margin-bottom: 1.25rem;
    }

    &--subtitle {
        height: auto;

        img {
            margin: 0 0.4rem;
        }

        &__tag {
            margin-right: 0.6rem;
            background-color: $lime-green;
            padding: 0.4rem 0.8rem;
            border-radius: 100px;
        }
    }

    &--text {
        margin-bottom: 2rem;

        @media (max-width: $breakpoint-md) {
            margin-bottom: 1.5rem;
        }
    }

    a {
        text-decoration: none;
    }
}


// Buttons

.button {
    @include flex;
    @include flex-center;
    border: 1px solid $green;
    padding: 0.5rem 1.25rem;
    color: $green;
    border-radius: 0.3rem;
    width: fit-content;

    &--large {
        padding: 0.8rem 2rem;
        background-color: $green;
        color: $lime-green;
    }
}

// Outside link

.outside-link-container {
    margin: 3rem 0;
}

.outside-link {
    @include flex;
    @include flex-space-between;
    @include flex-center;
    padding: 1rem;
    padding-left: 1.25rem;
    border-bottom: 2px solid $green;
    @include literata-semibold;
    color: $green;

    &:hover {
        background-color: $lime-green;
    }

    &:first-child {
        margin-bottom: 1rem;
    }

    span {
        padding-right: 0.5rem;
    }
}

// List

.list-item-star {
    font-size: 1.125rem;
    padding: 0.3rem;
    @include flex;
    @include flex-center;

    &:before {
        content: url(../img/star-item-footer.svg);
        margin-right: 0.5rem;
    }
}