@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
    margin-top: 3rem;
    margin-bottom: 6rem;
    // revisar uso de grid + flex

    @media (max-width: $breakpoint-sm) {
        margin-bottom: 4rem;
    }

    &--heading {
        grid-area: 1 / 1 / 2 / 9;
        @include flex;
        @include flex-center;
    }

    &--image {
        grid-area: 1 / 9 / 2 / 13;
        @include flex;
        @include flex-end;

        @media (max-width: $breakpoint-sm) {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.separator {
    display: block;
    width: 100%;
    height: 0.5em;
    background-image: url(../img/separator.svg);
    background-repeat: no-repeat;

    &--case {
        margin-bottom: 2.5rem;
    }

    &--section {
        margin: 3rem 0;
    }
}

.text-link {
    text-decoration: underline;
    color: $green;

    &--large {
        @include literata-regular;
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }
}

.about-me {
    @include flex;
    @include flex-row;

    @media (max-width: $breakpoint-sm) {
        @include flex-col;
    }

    &-col {

        &-img {
            width: 45%;

            @media (max-width: $breakpoint-sm) {
                width: 100%;
                padding-right: 0;
            }

            &-container {
                position: relative;

                &--decoration {
                    position: absolute;
                    bottom: 0%;
                    left: 55%;

                    @media (max-width: $breakpoint-sm) {
                        display: none;
                    }
                }
            }
        }

        &--content {
            width: 55%;

            @media (max-width: $breakpoint-sm) {
                width: 100%
            }
        }
    }

    &-picture {
        width: 80%;
        height: auto;
        border-radius: 1rem;
        margin-bottom: 3rem;

        @media (max-width: $breakpoint-sm) {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        @media (max-width: $breakpoint-xs) {
            height: 300px;
        }
    }
}

#contacto, #contact {
    padding-top: 2rem;
}