:root {
    --crema: #F6F4EE;
    --negro: #1A1A1A;
    --verde-oscuro: #132A1C;
    --verde: #1D3F29;
    --verde-claro: #DFECE2;
    --marron: #753800;
    --rosa: #EDDFD3;
    --naranja-claro:#F0E5DB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--naranja-claro);
}

html {
    font-size: 16px;
}

body {
    background-color: var(--crema);
    max-width: 768px;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--rosa);
}

header span {
    font-family: 'Literata', serif;
    color: var(--verde);
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
}

header span img {
    margin-left: 0.5rem;
}

ul {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    border-left: 1px solid var(--rosa);
    padding-left: 1rem;
}

a[aria-current="page"] {
    color: var(--marron);
    border-bottom: 0.125rem solid var(--marron);
}

li {
    display: flex;
}

li a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--negro);
    padding: 1rem .5rem;
}

li:first-child a {
    padding-right: 0.625rem;
    padding-left: 0.5rem;
    margin-right: 0.25rem;
}

li:last-child a {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

li a:hover {
    color: var(--verde);
    text-decoration: underline;
}

h1 {
    font-family: 'Literata', serif;
    font-weight: 500;
    color: var(--verde);
    font-size: 1.75rem;
    padding-top: 0.75rem;
}

main {
    border-bottom: 1px solid var(--rosa);
    padding-bottom: 3rem;
}

p {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
    color: var(--verde-oscuro);
    font-size: 1.125rem;
    line-height: 1.5;
}

a {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: var(--verde);
}

.link a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--crema);
    padding: .5rem 1rem;
    padding-right: .75rem;
    border-radius: 4px;
    background-color: var(--verde);
    font-size: 1.125rem;
}

.link a img {
    margin-left: 1rem;
    width: 24px;
}

.link a div:hover {
    background-color: var(--verde-oscuro);
}

#content {
    margin: 1.25rem 0 2rem 0;
}

#content a {
    font-size: 1.2rem;
}

#content span {
    font-weight: 500;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.contact {
    padding-top: 1.25rem;
    display: inline-flex;
    font-size: 1.125rem;
    gap: 0.5rem;
    align-items: center;
    color: var(--verde)
}

.visually-hidden {
    position: absolute;
    left: -200vw;
    top: -200vh;
  }

/* Media query */

@media (max-width: 425px) {

    header span{
        display: none;
    }

    ul {
        border-left: none;
        padding-left: 0;
    }

}