// Colors

$dark-green: #093116;
$green: #0D4520;
$light-green: #146C31;
$lime-green: #EAF6D0;
$cream: #FCF8EF;
$beige: #E7E0CA;
$dark-beige: #DFD6B9;
$light-beige: #EFEADC;
$light-blue: #CAD9E7;
$tea-green: #D5E7CA;
$lavender: #D7CAE7;


$light-beige-opacity: rgba(239, 234, 220, 0.8);
$cream-opacity: rgba(252, 248, 239, 0.8);

// Fonts

$line-height-base: 1.5;
$line-height-medium: 1.75;
$letter-spacing-subtitle: 0.03rem;

// Breakpoints

$breakpoint-xl: 1280px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 640px;
$breakpoint-xs: 425px;

// Shadow

$image-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.05);


// Blur

$background-blur: blur(10px);